@media (max-width: 640px) {
    .notecard{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .overlaybtn{
        transform: translateX(0px) !important;
    }
}
.overlaybtn{
    font-size: 9px;
    background-color: rgb(17, 17, 17);
    color: white;
    transform: translateX(90px);
    transition: all .1s ease-in-out;
    &:hover{
        background-color: rgb(47, 47, 47);
    }
}
.notecard{
    transition: all .2s ease-in-out;

    &:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    transform: scale(101%);
}
}
.notecard:hover .overlaybtn{
    transform: translateX(0px);
}

