@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-gray:rgb(25, 25, 25);
  --light-gray:rgb(41, 41, 41);
  --off-white:rgb(164, 164, 164);
  --primary-yello:rgb(255, 246, 66);
  --light-yello:rgb(255, 255, 206);
}

