@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Switzer', sans-serif;
  --primary-gray:#191919;
  --light-gray:#292929;
  --off-white:#a4a4a4;
  --primary-yello:#ffb300;
  --light-yello:#fde9ad;
}
html,body{
  width: 100%;
  overflow-x: hidden;
}

