.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 13px 70px;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: var(--primary-gray);
}
.color-btn{
    background-color: beige;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul a{
    margin: 0 5px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 6px 9px;
    transition: all .3s ease;
    color: var(--off-white);
}
ul a:hover{
    background-color: var(--light-gray);
    border-radius: 6px;
}
.brand img{
   object-fit: cover;
   width: 8rem;
}