.dropdownmenu{
    border: 1px solid var(--primary-gray);
    background-color: white;
    position: absolute;
    top: 4.8rem;
    right: 3.5rem;
    width: 120px;
    border-radius: 8px;

    &::before{
        content: '';
        position: absolute;
        top: -0.68rem;
        right: 2rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: white;
        border-top: 1px solid var(--primary-gray);
        border-left: 1px solid var(--primary-gray);
    }
}
.dropdownmenu a{
    padding: 0px;
    margin: 0px;
    border-radius: 0px;

    &:hover{
        background-color: transparent;
        border-radius: 0px;
        color: var(--primary-gray);
    }
}
.dropdownmenu hr{
    border: 1px solid rgb(212, 212, 212);
    width: 90%;
}
.logoutBtn{
    color: red;
    padding: 5px 9px !important;
    border-radius: 3px !important;
    &:hover{
        color: red !important;
        background-color: rgb(255, 202, 202) !important;
    }
}




