.dfImage{
    width: 2.5rem;
    height: 2.5rem;
}
.downArrow{
    width: 15px;
    height: 15px;
}
.avatar svg{
    margin: 0 ;
    color: white;
    margin-right: 4px;
    transition: all .2s ease;
}
.avatar:hover > .downArrow{
    transform: translateY(20%);
}